.octodex {
  margin: 0;
  padding: 0;
  width: 900px;
  list-style: none;
}

.octocat {
  margin: 0;
  padding: 0;
  /*height: 300px this made image verticle;*/
  list-style: none;
  display: table-cell;

}
img {
  /*max-width: 100%;*/
}
a {
  text-decoration: none;
}
a img {
  width: 200px;
  height: 200px;
  border-style: grey;
  border: 5px;
  float: left;

}
.image-footer {
  width: 200px;
  height: 25px;
  float: left;
}
.image-number {
  width: 50px;
  height: 25px;

}
.image-caption {
  width: 150px;
  height: 25px;
  display: inline;
  float: right;
}

.authors {
  list-style: none;
}
.authors li a img {
  width: 20px;
  height: 20px;
  float: right;
}
